@keyframes animhoversm{
    from{
        transform: translateY(0px) translateX(80px);
    }
    50%{
        transform: translateY(10px) translateX(80px);
    }
    to{
        transform: translateY(0px) translateX(80px);
    }
}
@keyframes animcogrotate{
    from{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes animmobilering{
    0%{
        color: #ff0000;
    }
    14%{
        color: #ff7f00;
    }
    28%{
        color: #ffff00;
    }
    42%{
        color: #00ff00;
    }
    56%{
        color: #0000ff;
    }
    70%{
        color: #4b0082;
    }
    84%{
        color: #9400d3;
    }
    98%{
        color: #7c5547;
    }
    100%{
        color: #7c5547;
    }
}
@keyframes animsub{
    from{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes animblob{
    0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
        transform: translateX(100%) translateY(50px) scale(0.95);
	}

	70% {
		transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
        transform: translateX(100%) translateY(50px) scale(1);
	}

	100% {
		transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
        transform: translateX(100%) translateY(50px) scale(0.95);
	}
}
@keyframes animblobhover{
    0%{
        transform: rotateX(0deg) translateX(100%) translateY(50px);
    }
    30%{
        transform: rotateX(-30deg) translateX(100%) translateY(40px);
    }
    50%{
        transform: rotateX(0deg) translateX(100%) translateY(50px);
    }
    70%{
        transform: rotateX(30deg) translateX(100%) translateY(40px);
    }
    100%{
        transform: rotateX(0deg) translateX(100%) translateY(50px);
    }
}
@keyframes animbubblehover{
    0%{
        transform: rotateX(0deg) translateY(0px);
    }
    30%{
        transform: rotateX(-30deg) translateY(10px);
    }
    50%{
        transform: rotateX(0deg) translateY(0px);
    }
    70%{
        transform: rotateX(30deg) translateY(10px);
    }
    100%{
        transform: rotateX(0deg) translateY(0px);
    }
}