/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* ---------------------------------------------------- */
.incompatible{
    z-index: 3;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    opacity: 0.9;
    border-radius: 20px;
    text-align: left;
    padding: 100px;
}
.pnavbar{
    position: -webkit-sticky;
    position: sticky;
    background-color:white;
    border-radius: 8px;
    height: 60px;
}
.fa-cog{
    animation: animcogrotate 10s infinite;
    -moz-animation: animcogrotate 10s infinite;
}
.nav-opt{
    transform: translateX(80px);
    cursor: pointer;
    height: 80px !important;
}
.nav-opt:hover{
    color: aquamarine;
    animation: animhoversm 5s infinite;
    -moz-animation: animhoversm 5s infinite;
}
.col{
    width: 95% !important;
    height: 75%;
    /* background-color: yellow; */
}
.box-one{
    background: url("../img/back-one.png") repeat center;
    border-radius: 40px;
    height: 350px;
    animation: animboxone 2s infinite;
}
#typing{
    font-family: 'Pacifico', cursive;
    font-size: 60pt;
    color: turquoise;
}
.subtitle{
    font-size: 20pt;
    display: flex;
    justify-content: space-around;
    animation: animsub 5s infinite;
    animation-delay: 2s;
}
.subtitle span{
    transition: 0.5s;
    border-radius: 50px;
}
.subtitle a{text-decoration: none; color: turquoise;}
.subtitle a:hover{color: #313131;}
.subtitle pre{visibility: hidden;}
.subtitle span:hover{
    font-size: 30pt;
    background-color: turquoise;
    transition: 0.5s;
}

/* Animations */
@keyframes animhoversm{
    from{
        transform: translateY(0px) translateX(80px);
    }
    50%{
        transform: translateY(10px) translateX(80px);
    }
    to{
        transform: translateY(0px) translateX(80px);
    }
}
@keyframes animcogrotate{
    from{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes animmobilering{
    0%{
        color: #ff0000;
    }
    14%{
        color: #ff7f00;
    }
    28%{
        color: #ffff00;
    }
    42%{
        color: #00ff00;
    }
    56%{
        color: #0000ff;
    }
    70%{
        color: #4b0082;
    }
    84%{
        color: #9400d3;
    }
    98%{
        color: #7c5547;
    }
    100%{
        color: #7c5547;
    }
}
@keyframes animsub{
    from{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(0px);
    }
}

/* Responsive Settings */
@media only screen and (max-width: 800px){
    .main{
        visibility: hidden;
        overflow: hidden;
    }
    .incompatible{
        visibility: visible;
    }
    .fa-mobile-alt{
        transform: translateY(-135px) translateX(52px);
        animation: animmobilering 20s;
        animation-iteration-count: infinite;
    }
}
@media only screen and (min-width: 800px){
    .main{
        visibility: visible;
        overflow: visible;
    }
    .incompatible{
        visibility: hidden;
    }

}
@media only screen and (max-width: 500px){
    .inc-text{
        transform: translateX(-80px) translateY(95px);
    }
    .fa-mobile-alt{
        visibility: hidden;
        overflow: hidden;
    }
    .fa-cog{
        animation: animmobilering 10s infinite;
    }
}