.incompatible{
    z-index: 3;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    /* box-shadow: grey 2px 2px 2px;*/
    background: #90bf3f;
    opacity: 0.9;
    border-radius: 20px;
    text-align: left;
    padding: 100px;
}
.fa-cog{
    animation: animcogrotate 10s infinite;
    -moz-animation: animcogrotate 10s infinite;
}
.pnavbar{
    z-index: 1;
}
.nav-opt{
    transform: translateX(80px);
    cursor: pointer;
}
.nav-opt hr{
    height: 80px;
}
.nav-opt:hover{
    color: aquamarine;
    animation: animhoversm 5s infinite;
    -moz-animation: animhoversm 5s infinite;
}

/* Animations */
@keyframes animhoversm{
    from{
        transform: translateY(0px) translateX(80px);
    }
    50%{
        transform: translateY(10px) translateX(80px);
    }
    to{
        transform: translateY(0px) translateX(80px);
    }
}
@keyframes animcogrotate{
    from{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes animmobilering{
    0%{
        color: #ff0000;
    }
    14%{
        color: #ff7f00;
    }
    28%{
        color: #ffff00;
    }
    42%{
        color: #00ff00;
    }
    56%{
        color: #0000ff;
    }
    70%{
        color: #4b0082;
    }
    84%{
        color: #9400d3;
    }
    98%{
        color: #7c5547;
    }
    100%{
        color: #7c5547;
    }
}

/* Responsive Settings */
@media only screen and (max-width: 800px){
    .main{
        visibility: hidden;
        overflow: hidden;
    }
    .incompatible{
        visibility: visible;
    }
    .fa-mobile-alt{
        transform: translateY(-135px) translateX(52px);
        animation: animmobilering 20s;
        animation-iteration-count: infinite;
    }
}
@media only screen and (min-width: 800px){
    .main{
        visibility: visible;
        overflow: visible;
    }
    .incompatible{
        visibility: hidden;
    }

}
@media only screen and (max-width: 450px){
    .inc-text{
        transform: translateX(-80px) translateY(110px);
    }
    .incompatible{
        background-color: white;
    }
    .fa-mobile-alt{
        visibility: hidden;
        overflow: hidden;
    }
}